.footer {
    display: flex;
    height: 50px;
    width: calc(100% - 72px);
    background-color: $color-blue-1;
    margin: auto 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;
    &--dark {
     background-color: $color-black;  
    }

    @media (max-width: $breakpoint-tablet) {
        width: calc(100% - 36px);
        padding: 0 18px;
    }

    &__spacer {
        display: flex;
        width: 50%;
    }

    &__copyright-text {
        color: white;
        font-size: 10px;
        line-height: 20px;

        &--large {
            font-size: 14px;
            line-height: 22px;  
            margin-top: 4px;
            @media (max-width: $breakpoint-tablet) {
                font-size: 12px;
            }
        }
    }

    &__icon-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
    }

    &__icon-link {
        display: flex;
        margin: 0;
        padding: 0;
    }

    &__icon {
        margin-left: 32px;

        @media (max-width: $breakpoint-tablet) {
            margin: 0 8px;
            width: 16px;
            height: 16px;
        }

        &--instagram {
            margin-top: -2px;

            @media (max-width: $breakpoint-tablet) {
                margin: 0 8px;
                width: 16px;
                height: 16px;
            }
        }
    }

}