.header {
    display: flex;
    position: sticky;
    top: 0;
    height: 109px;
    background: $color-white;
    border-bottom: 1px solid $color-grey-border;
    z-index: 3;

    @media (max-width: $breakpoint-tablet) {
        align-items: center;
        justify-content: flex-start;
        height: 77px;
    }

    &--shadow {
        box-shadow: 1px 4px 8px $color-grey-shadow;
    }

    &__text-container {
        padding-top: 56px;
        padding-bottom: 32px;
        width: calc(100% - 56px);
        padding-left: 56px;
        display: flex;
        align-items: center;
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
    }
    
    &__name{
        color: $color-blue-1;
        font-weight: 500;
        font-size: 16px;
        line-height: 33px;
        align-items: flex-start;
        text-decoration: none;
        margin-right: 56px;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-blue-1;
        }
    }
    
    &__about {
        color: $color-black;
        font-weight: 600;
        font-size: 13.2791px;
        line-height: 33px;
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-black;
        }
    }

    &__about-selected {
        font-weight: 600;
        font-size: 13.2791px;
        margin-top: 2px;
        line-height: 24px;
        border-bottom: 1.5px solid $color-black;
    }

    &__mobile-container {
        display: flex;
        padding-left: 18px;
        align-items: flex-start;

        @media (min-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__mobile-menu-button {
        background: transparent;
        border: none;
        cursor: pointer;
        &:focus {
            border: none;
            outline: none;
        }
    }
}

