.next-project-card {
        height: 372px;
        width: 100%;
        background-color: $color-yellow-highlight;
        display: flex;
        overflow-x: hidden;
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            justify-content: space-between;
            height: 524px;
            padding-left: 18px;
            width: calc(100% - 18px);
    }

    &__title-container {
        width: 50%;
        display: flex;
        flex-direction: flex-start;
        align-items: center;
        margin-left: 15%;
        @media (max-width: $breakpoint-tablet) {
            margin-top: 56px;
            padding-bottom: 17px;
            margin-left: 0;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 40px;
        font-weight: 500;
        @media (max-width: $breakpoint-tablet) {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__title {
        margin-top: 16px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;

        @media (max-width: $breakpoint-tablet) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-left: -15%;
        overflow-x: hidden;

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            margin-left: 0;
            align-items: flex-start;
        }
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            flex-direction: row;
            align-items: baseline;
            justify-content: flex-start;
            overflow: hidden;
            margin-left: 0;
        }
    }

    &__image {
        max-height: 100%;
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop){
            overflow-x: hidden;
        }
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__image-mobile {
        max-height: 100%;
        @media (min-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__link-container {
        margin-top: 66px;
        @media (max-width: $breakpoint-tablet) {
            margin-top: 33px;
        }
    }

    &__link {
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-black;
        }
        &--white {
            &:hover, &:active {
                text-decoration-color: $color-white;
            }
        }
    }

    &__link-text {
        font-size: 18px;
        line-height: 40px;
        font-weight: 600;
        @media (max-width: $breakpoint-tablet) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__link-image {
        margin-left: 8px;
        width: 20px;
        height: 15px;
        @media (max-width: $breakpoint-tablet) {
            margin-bottom: -2px;
            width: 14px;
            height: 14px;
        }
    }
}