.project-description {

    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 56px;
    margin-left: 15%;
    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        justify-content: flex-start;
        width: calc(100% - 36px);
        margin: 0;
        padding: 0 18px;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-bottom: 72px;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            justify-content: flex-start;
            padding-bottom: 36px;
        }
    }

    &__title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    &__text {
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        a {
            font-size: 14px;
            line-height: 22px;
            color: $color-blue-1;
            text-decoration: none;
            &:hover, &:active {
                text-decoration: underline;
                text-decoration-color: $color-blue-1;
            }
        }
    }

    &__text-item {
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
    }

    &__tool-date-container {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            padding-bottom: 80px;
        }
    }

    &__tools-container {
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint-tablet) {
            width: 50%;
        }
    }

    &__tools-title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    &__tools-text {
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        margin: 8px 0;
    }

    &__date-container {
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint-tablet) {
            width: 50%;
        }
    }

    &__date-title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    &__date-text {
        margin-top: 8px;
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
    }
}