.project-heading {

        margin: 32px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $breakpoint-tablet) {
            width: calc(100% - 18px);
            padding-left: 18px;
            height: 203px;;
            margin: 24px 0 56px;
            position: relative;
        }

    &__text-container {
        display: flex;
        margin-left: 15%;
        align-items: flex-start;
        flex-direction: column;
        margin-right: -4%;
        z-index: 2;
        @media (max-width: $breakpoint-tablet) {
            margin-left: 0;
            width: 100%;
        }
    }

    &__title-container {
        display: flex;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }

    &__title-align-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }

    &__title {
        color: $color-black;
        font-size: 32px;
        line-height: 72px;
        font-weight: 500;
        @media (max-width: $breakpoint-tablet) {
            font-size: 28px;
        }
    }

    &__sub-title {
        color: $color-black;
        font-size: 24px;
        line-height: 30px;
        margin-left: 4px;
        font-weight: 500;
    }

    &__background-image-container {
        display: flex;
        align-items: flex-end;
        background: $color-yokko-yellow;
        border-radius: 8px;
        height: 276px;
        position: relative;
        width: 78%;
        margin-left: -15%;
        @media (max-width: $breakpoint-tablet) {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 75%;
            height: 203px;
        }
    }
}