body {

    h1, h2, h3, h4, h5, h6 {
        font-family: "HeyWow";
        margin: 0;
        padding: 0;
        color: $color-black;
    }

    h2 {
        font-weight: 500;
    }

    p, span, label {
        font-size: 18px;
        line-height: 24px;
        font-family: 'HeyWow';
        color: $color-black;
    }
}