// Colors
$color-white: #FFFFFF;
$color-grey-background: #f8f8f8;
$color-grey-border: #e9e9e9;
$color-grey-font: #8f8f8f;
$color-black: #0C1D25;
$color-blue-1: #1F768A;
$color-blue-2:#E1F9FF;
$color-blue-3: #58a4b5;
$color-blue-overlay: #8AD4E2;
$color-yellow-highlight: #FBB844;
$color-yokko-yellow: #f6f9e1;

// Breakpoints
$breakpoint-mobile: 324px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1224px;
