.aboutPage {

    &__content-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 32px;
        margin-bottom: 56px;
    }

    &__text-container {
        width: 50%;
        margin-top: 72px;
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) { 
            padding: 0 18px;
        }
        @media (max-width: $breakpoint-tablet) { 
            width: 100%;
            padding: 0 18px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 52px;

        &--highlight {
            color: $color-yellow-highlight;
        }
        @media (max-width: $breakpoint-tablet) { 
            font-size: 24px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        @media (max-width: $breakpoint-tablet) { 
            font-size: 14px;
        }
    }

    &__image-container {
        @media (max-width: $breakpoint-desktop) {
            width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        }

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) { 
            padding: 0 18px;
        }

        @media (max-width: $breakpoint-tablet) { 
            display: none;
        }
    }

    &__image {
        max-width: 100%;
    }

    &__contact-resume-container {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        margin-bottom: 260px;
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) { 
            padding: 0 18px;
        }
        @media (max-width: $breakpoint-tablet){
            flex-direction: column;
            padding: 0 18px;
            margin-bottom: 120px;
            width: calc( 100% - 36px);
        }
    }

    &__contact-container {
        display: flex;
        flex-direction: column;
    }

    &__contact-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 32px;
        @media (max-width: $breakpoint-tablet){
            font-size: 18px;
            line-height: 23px;
        }
    }

    &__contact-item {
        margin-bottom: 24px;
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-blue-1;
        }
    }

    &__contact-image {
        margin-right: 18px;
    }

    &__contact-text {
        color: $color-blue-1;
        font-size: 18px;
        line-height: 26px;
    }

    &__resume-container {
        display: flex;
        flex-direction: column;
    }

    &__resume-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 32px;
        @media (max-width: $breakpoint-tablet){
            font-size: 18px;
            line-height: 23px;
            margin-top: 32px;
        }
    }

    &__resume-item {
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-blue-1;
        }
    }

    &__resume-text {
        color: $color-blue-1;
        font-size: 18px;
        line-height: 26px;
    }

    &__resume-image {
        margin-left: 18px;
    }

}