.landingPage {
    background: $color-white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;

    &__hero {
        height: 750px;
        width: 100%;
        background: $color-blue-2;
        display: flex;
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
        }
    }

    &__text-container {
        display: flex;
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;

        @media (max-width: $breakpoint-tablet) {
            margin-top: 56px;
            padding-left: 32px;
            align-items: flex-start;
            justify-content: flex-start;
            width: calc(100% - 32px);
        }
    }

    &__text-align-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__title {
        color: $color-blue-1;
        font-size: 40px;
        line-height: 72px;
        @media (max-width: $breakpoint-desktop) {
            font-size: 28px;
        }
    }

    &__subtitle {
        color: $color-black;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
        margin-bottom: 24px;
        @media (max-width: $breakpoint-desktop) {
            font-size: 24px;
        }
    }

    &__sub-text {
        color: $color-black;
        font-size: 32px;
        line-height: 52px;
        font-weight: 400;
        @media (max-width: $breakpoint-desktop) {
            font-size: 24px;
        }
    }

    &__image-container {
        display: flex;
        width: 50%;
        margin: auto 0 auto auto;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: hidden;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }

    &__image-hero {
        @media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet) {
            max-width: 100%;
            float: right;
        }
        @media (max-width: $breakpoint-tablet) {
            max-width: 100%;
            float: left;
        }
    }


    &__project-list-container {
        margin: 106px 0;
        @media (max-width: $breakpoint-tablet) {
            margin: 56px 0;
        }
    }

    &__project-list-title-container {
        display: flex;
        @media (max-width: $breakpoint-tablet) {
            align-items: flex-start;
            padding-left: 18px;
        }
    }

    &__project-list-title {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        line-height: 41px;
        font-weight: 600;
        @media (max-width: $breakpoint-tablet) {
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;  
            align-items: flex-start;
            justify-content: flex-start;
        }

    }

    &__project-card-highlight {
        width: 10px;
        background-color: $color-yellow-highlight;
        position:absolute;
        top:0;
        bottom:0;
        left: 50%;
        border-radius: 4px;

        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__project-card-container {
        margin: 132px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        cursor: pointer;
        border: none;
        outline: none;
        &:visited{
            outline: none;
            border: none;
            -moz-outline-style: none;
        }
        @media (max-width: $breakpoint-tablet) {
            margin: 56px 0;
            flex-direction: column-reverse;
        }
    }

    &__project-text-container {
        display: flex;
        flex: 1 1 auto;
        align-items: flex-end;
        flex-direction: column;
        margin-right: -36px;
        z-index: 2;
        position: relative;

        @media (max-width: $breakpoint-tablet) {
            width: calc(100% - 18px);
            margin-left: -18px;
            align-items: flex-start;
        }

    }

    &__project-title-container {
        display: flex;
    }

    &__project-title-align-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: $breakpoint-tablet) {
            margin-top: 36px;  
        }
    }

    &__project-title {
        color: $color-blue-1;
        font-size: 32px;
        margin-right: 24px;
        font-weight: 500;

        @media (max-width: $breakpoint-tablet) {
            font-size: 28px;
            font-weight: 600;
            line-height: 23px;  
            margin-bottom: 18px;
        }
    }

    &__project-sub-title {
        color: $color-black;
        font-size: 24px;
        margin-left: 4px;
        font-weight: 500;

        @media (max-width: $breakpoint-tablet) {
            font-size: 18px;
            font-weight: 600;
            line-height: 23px;  
        }
    }

    &__project-image-container {
        display: flex;
        align-items: flex-end;
        background: $color-grey-background;
        border-radius: 8px;
        height: 484px;
        position: relative;
        width: 71%;
        @media (max-width: $breakpoint-desktop) {
            height: 332px;
        }
        @media (max-width: $breakpoint-tablet) {
            margin-left: auto;
        }
        
    }

    &__project-image {
        position: absolute;
        top: -9%;
        left: 10%;
        @media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet) {
            left: 0%;
            margin-right: 0;
            max-width: 100%;
            max-height: 150%;
        }
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__project-image-mobile {
        display: none;
        @media (max-width: $breakpoint-tablet) {
            display: block;
            position: absolute;
            left: -10%;
        }
    }

    &__question-contact-container {
        display: flex;
        background-color: $color-blue-3;
        height: 345px;
        width: 100%;
        @media (max-width: $breakpoint-tablet) {
            margin-top: -36px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 18px;
            width: calc(100% - 36px);
        }
    }

    &__question-container {
        display: flex;
        flex: 1 1 auto;
        justify-items: flex-start;
        align-items: center;
        margin: auto 0;
        flex-direction: column;
        @media (max-width: $breakpoint-tablet) {
            padding-top: 56px;
        }
    }

    &__question-text {
        color: $color-white;
        font-size: 32px;
        line-height: 40px;
        @media (max-width: $breakpoint-desktop) {
            font-size: 24px;
        }
    }

    &__contact-container {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        margin: auto 0;
        flex-direction: column;
        padding-top: 96px;
        @media (max-width: $breakpoint-tablet) {
            padding-top: 24px;
            width: 100%;
        }
    }

    &__contact-alignment-container {
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }
}