.landingPage {
    background: $color-white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;

    &__hero {
        height: 750px;
        width: 100%;
        background: $color-blue-2;
        display: flex;
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
        }
    }

    &__text-container {
        display: flex;
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;

        @media (max-width: $breakpoint-tablet) {
            margin-top: 56px;
            padding-left: 32px;
            align-items: flex-start;
            justify-content: flex-start;
            width: calc(100% - 32px);
        }
    }

    &__text-align-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__title {
        color: $color-blue-1;
        font-size: 40px;
        line-height: 72px;
        @media (max-width: $breakpoint-desktop) {
            font-size: 28px;
        }
    }

    &__subtitle {
        color: $color-black;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
        margin-bottom: 24px;
        @media (max-width: $breakpoint-desktop) {
            font-size: 24px;
        }
    }

    &__sub-text {
        color: $color-black;
        font-size: 32px;
        line-height: 52px;
        font-weight: 400;
        @media (max-width: $breakpoint-desktop) {
            font-size: 24px;
        }
    }

    &__image-container {
        display: flex;
        width: 50%;
        margin: auto 0 auto auto;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: hidden;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }

    &__image-hero {
        max-width: 100%;
        @media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet) {
            float: right;
        }
        @media (max-width: $breakpoint-tablet) {
            max-height: 100%;
            float: left;
        }
    }


    &__project-list-container {
        margin-top: 106px;
        @media (max-width: $breakpoint-tablet) {
            margin: 56px 0;
        }
    }

    &__project-list-title-container {
        display: flex;
        @media (max-width: $breakpoint-tablet) {
            align-items: flex-start;
            padding-left: 18px;
        }
    }

    &__project-list-title {
        display: flex;
        width: 30%;
        font-size: 32px;
        line-height: 41px;
        font-weight: 600;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 15%;
        @media (max-width: $breakpoint-desktop) {
            font-size: 24px;
            font-weight: 600;
            line-height: 30px; 
        }
        @media (max-width: $breakpoint-tablet) {
            margin-left: 0;
        }

    }

    &__question-contact-container {
        display: flex;
        background-color: $color-blue-3;
        height: 345px;
        margin-top: -36px;
        width: 100%;
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 18px;
            width: calc(100% - 36px);
        }
    }

    &__question-container {
        display: flex;
        width: 40%;
        justify-items: flex-start;
        align-items: center;
        margin: auto 0;
        flex-direction: column;
        margin-top: 96px;
        @media (max-width: $breakpoint-tablet) {
            padding-top: 56px;
            margin-top: 0;
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    &__question-alignment-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__question-text {
        color: $color-white;
        font-size: 32px;
        line-height: 40px;
        @media (max-width: $breakpoint-desktop) {
            font-size: 24px;
        }
    }

    &__contact-container {
        display: flex;
        width: 60%;
        align-items: center;
        margin: auto 0;
        flex-direction: column;
        // padding-top: 96px;
        @media (max-width: $breakpoint-tablet) {
            padding-top: 24px;
            width: 100%;
        }
    }

    &__contact-alignment-container {
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }
}