.projectPage {

    &__back-link-container {
        margin-top: 56px;
        display: flex;
        width: 33%;
        align-items: center;
        justify-content: space-evenly;
        @media (max-width: $breakpoint-tablet) {
            width: calc(100% - 18px);
            align-items: flex-start;
            justify-content: flex-start;
            padding-left: 18px;
        }
    }

    &__back-link {
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-blue-1;
        }
    }

    &__back-link-icon {
        margin-right: 8px;
        margin-bottom: -4px;
    }

    &__back-link-text {
        color: $color-blue-1;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
    }

    &__hero-container {
        margin: 32px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $breakpoint-tablet) {
            width: calc(100% - 18px);
            padding-left: 18px;
        }
    }

    &__hero-text-container {
        display: flex;
        flex: 1 1 auto;
        align-items: flex-end;
        flex-direction: column;
        margin-right: -4%;
        z-index: 2;
        @media (max-width: $breakpoint-tablet) {
            margin-right: -20%;
        }
    }

    &__hero-title-container {
        display: flex;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }

    &__hero-title-align-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }

    &__hero-title {
        color: $color-black;
        font-size: 32px;
        line-height: 72px;
        font-weight: 500;
        @media (max-width: $breakpoint-tablet) {
            font-size: 28px;
        }
    }

    &__hero-sub-title {
        color: $color-black;
        font-size: 24px;
        line-height: 30px;
        margin-left: 4px;
        font-weight: 500;
    }

    &__hero-image-container {
        display: flex;
        align-items: flex-end;
        background: $color-yokko-yellow;
        border-radius: 8px;
        height: 276px;
        position: relative;
        width: 78%;
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            width: 72%
        }
        @media (max-width: $breakpoint-tablet) {
            height: 203px;
        }
    }

    &__hero-image {
        position: absolute;
        top: -9%;
        left: 10%;
    }

    &__information-container {
        display: flex;
        justify-content: space-evenly;
        width: 75%;
        margin-top: 56px;
        margin-left: 14.5%;
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            justify-content: flex-start;
            width: calc(100% - 36px);
            margin: 0;
            padding: 0 18px;
        }
    }

    &__description-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-bottom: 72px;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            justify-content: flex-start;
            padding-bottom: 36px;
        }
    }

    &__description-title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: normal;
        margin-bottom: 8px;
    }

    &__description-text {
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
    }

    &__tool-date-container {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            padding-bottom: 80px;
        }
    }

    &__tools-container {
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint-tablet) {
            width: 50%;
        }
    }

    &__tools-title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: normal;
        margin-bottom: 8px;
    }

    &__tools-text {
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        margin: 8px 0;
    }

    &__date-container {
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint-tablet) {
            width: 50%;
        }
    }

    &__date-title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: normal;
        margin-bottom: 8px;
    }

    &__date-text {
        margin-top: 8px;
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
    }

    &__content-container {
        background-color: $color-grey-background;
        @media (max-width: $breakpoint-tablet) {
            padding: 23px 0;
        }
    }

    &__banner-container {
        background-color: $color-yokko-yellow;
        width: 100%;
        height: 781px;
        display: flex;
        justify-content: center;
        @media (max-width: $breakpoint-tablet) {
            width: calc(100% - 18px);
            padding-left: 18px;
            height: 751px;
        }
    }

    &__banner-title-container {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        align-items: center;
        width: 50%;
        z-index: 2; 
        @media (max-width: $breakpoint-tablet) {
            margin-top: 56px;
        }
    }

    &__banner-title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
        @media (max-width: $breakpoint-tablet) {
            font-size: 18px;
            line-height: 40px;
        }
    }

    &__banner-text {
        font-size: 20px;
        line-height: 40px;
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__banner-image-container {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    &__banner-image {
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
        @media (min-width: $breakpoint-tablet) {
            max-width: 200%;
        }
    }

    &__banner-image-mobile {
        @media (min-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__next-project-container {
        height: 372px;
        width: 100%;
        background-color: $color-yellow-highlight;
        display: flex;
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;;
            height: 524px;
        }
    }

    &__next-project-title-container {
        width: 50%;
        margin-top: 84px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $breakpoint-tablet) {
            margin-top: 56px;
            padding-bottom: 17px;
        }
    }

    &__next-project-text {
        font-size: 20px;
        line-height: 40px;
        @media (max-width: $breakpoint-tablet) {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__next-project-title {
        margin-top: 16px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;

        @media (max-width: $breakpoint-tablet) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__next-project-image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            flex-direction: row;
            align-items: baseline;
        }
    }

    &__next-project-link-container {
        margin-top: 66px;
        @media (max-width: $breakpoint-tablet) {
            margin-top: 33px;
        }
    }

    &__next-project-link {
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-black;
        }
    }

    &__next-project-link-text {
        font-size: 18px;
        line-height: 40px;
        font-weight: 600;
        @media (max-width: $breakpoint-tablet) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__next-project-link-image {
        margin-left: 8px;
        @media (max-width: $breakpoint-tablet) {
            margin-bottom: -2px;
            width: 14px;
            height: 14px;
        }
    }

}