.projectPage {

    &__back-link-container {
        margin-top: 56px;
        display: flex;
        width: 33%;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 15%;
        @media (max-width: $breakpoint-tablet) {
            margin-left: 0;
            width: calc(100% - 18px);
            align-items: flex-start;
            justify-content: flex-start;
            padding-left: 18px;
        }
    }

    &__back-link {
        text-decoration: none;
        display: flex;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-blue-1;
        }
    }

    &__back-link-icon {
        margin-right: 8px;
    }

    &__back-link-text {
        color: $color-blue-1;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
    }

    &__content-container {
        background-color: $color-grey-background;
        @media (max-width: $breakpoint-tablet) {
            padding: 23px 0 56px;
        }
        &--gallery {
            padding: 106px 0;
            @media (max-width: $breakpoint-tablet) {
                padding: 0;
                padding: 56px 0;
            }
        }
    }

    &__banner-container {
        background-color: $color-yokko-yellow;
        width: 100%;
        height: 781px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            height: 751px;
            flex-direction: column;
        }
    }

    &__banner-title-container {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        align-items: flex-start;
        width: 50%;
        z-index: 2; 
        margin-left: 15%;
        @media (max-width: $breakpoint-tablet) {
            margin-top: 56px;
            margin-left: 18px;
            align-items: flex-start;
        }
    }

    &__banner-title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
        @media (max-width: $breakpoint-tablet) {
            font-size: 18px;
            line-height: 40px;
        }
    }

    &__banner-text {
        font-size: 20px;
        line-height: 40px;
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__banner-image-container {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-left: -15%;
        @media (max-width: $breakpoint-tablet) {
            margin-left: 0;
            width: 100%;
            margin-left: 0;
            max-height: 84%;
        }
    }

    &__banner-image {
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
        @media (min-width: $breakpoint-tablet) {
            max-width: 200%;
        }
    }

    &__banner-image-mobile {
        max-width: 100%;
        max-width: 100%;
        @media (min-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__next-project-container {
        height: 372px;
        width: 100%;
        background-color: $color-yellow-highlight;
        display: flex;
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;;
            height: 524px;
            padding: 0 18px;
            width: calc(100% - 36px);
        }
    }

    &__next-project-title-container {
        width: 50%;
        margin-top: 84px;
        display: flex;
        flex-direction: flex-start;
        align-items: center;
        margin-left: 15%;
        @media (max-width: $breakpoint-tablet) {
            margin-top: 56px;
            padding-bottom: 17px;
            margin-left: 0;
        }
    }

    &__next-project-text {
        font-size: 20px;
        line-height: 40px;
        @media (max-width: $breakpoint-tablet) {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__next-project-title {
        margin-top: 16px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;

        @media (max-width: $breakpoint-tablet) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__next-project-image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-left: -15%;

        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            flex-direction: row;
            align-items: baseline;
            overflow: hidden;
            margin-left: 0;
        }
    }

    &__next-project-image {
        max-height: 100%;
    }

    &__next-project-link-container {
        margin-top: 66px;
        @media (max-width: $breakpoint-tablet) {
            margin-top: 33px;
        }
    }

    &__next-project-link {
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-black;
        }
    }

    &__next-project-link-text {
        font-size: 18px;
        line-height: 40px;
        font-weight: 600;
        @media (max-width: $breakpoint-tablet) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__next-project-link-image {
        margin-left: 8px;
        @media (max-width: $breakpoint-tablet) {
            margin-bottom: -2px;
            width: 14px;
            height: 14px;
        }
    }

}