.projectPage {

    &__back-link-container {
        margin-top: 56px;
        display: flex;
        width: 33%;
        align-items: center;
        justify-content: space-evenly;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-blue-1;
        }
    }

    &__back-link {
        color: $color-blue-1;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
    }

    &__back-link-icon {
        margin-right: 18px;
        margin-bottom: -4px;
    }

    &__hero-container {
        margin: 32px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__hero-text-container {
        display: flex;
        flex: 1 1 auto;
        align-items: flex-end;
        flex-direction: column;
        margin-right: -4%;
        z-index: 2;
    }

    &__hero-title-container {
        display: flex;
    }

    &__hero-title-align-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__hero-title {
        color: $color-black;
        font-size: 32px;
        font-weight: 500;
    }

    &__hero-sub-title {
        color: $color-black;
        font-size: 24px;
        margin-left: 4px;
        font-weight: 500;
    }

    &__hero-image-container {
        display: flex;
        align-items: flex-end;
        background: $color-yokko-yellow;
        border-radius: 8px;
        height: 276px;
        position: relative;
        width: 80%;
    }

    &__hero-image {
        position: absolute;
        top: -9%;
        left: 10%;
    }

    &__information-container {
        display: flex;
        justify-content: space-evenly;
        width: 75%;
        margin-top: 56px;
        margin-left: 14.5%;
    }

    &__description-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-bottom: 72px;
    }

    &__description-title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: normal;
        margin-bottom: 8px;
    }

    &__description-text {
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
    }

    &__tool-date-container {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }

    &__tools-container {
        display: flex;
        flex-direction: column;
    }

    &__tools-title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: normal;
        margin-bottom: 8px;
    }

    &__tools-text {
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        margin: 8px 0;
    }

    &__date-container {
        display: flex;
        flex-direction: column;
    }

    &__date-title {
        color: $color-grey-font;
        font-size: 18px; 
        line-height: 26px;
        font-weight: normal;
        margin-bottom: 8px;
    }

    &__date-text {
        margin-top: 8px;
        color: $color-black;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
    }

    &__content-container {
        background-color: $color-grey-background;
    }

    &__banner-container {
        background-color: $color-yokko-yellow;
        width: 100%;
        height: 781px;
        display: flex;
        justify-content: center;
    }

    &__banner-title-container {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        align-items: center;
        width: 50%;
        z-index: 3;
    }

    &__banner-title {
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 16px;
    }

    &__banner-text {
        font-size: 20px;
        line-height: 40px;
    }

    &__banner-image-container {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    &__next-project-container {
        height: 372px;
        width: 100%;
        background-color: $color-yellow-highlight;
        display: flex;
    }

    &__next-project-title-container {
        width: 50%;
        margin-top: 84px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__next-project-text {
        font-size: 20px;
        line-height: 40px;
    }

    &__next-project-title {
        margin-top: 16px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
    }

    &__next-project-image-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &__next-project-link-container {
        margin-top: 66px;
    }

    &__next-project-link {
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
            text-decoration-color: $color-black;
        }
    }

    &__next-project-link-text {
        font-size: 18px;
        line-height: 40px;
        font-weight: 600;
    }

    &__next-project-link-image {
        margin-left: 8px;
    }

}